@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark-blue"] body{
  background-color: hsl(222, 26%, 31%);
  color:white;
}
[data-theme="light"] body{
  background-color: hsl(0, 0%, 90%);
  color:hsl(60, 10%, 19%);
}
[data-theme="dark-violet"] body{
  background-color: hsl(268, 75%, 9%);
  color:hsl(52, 100%, 62%);
}